/*** 전체 스타일 ***/
main.home-wrap{
/*    text-align: center;*/
}

main.home-wrap > div.container{
    width: 90rem;
    margin: auto;
}

/*** 상품 리스트 ***/
main.home-wrap > div.container > div.home > ul{
    display: inline-block;
    float: left;
    overflow: auto;
}

main.home-wrap > div.container > div.home > ul > li {
    /*display: inline-block;*/
}

/*** 리스트 이미지 ***/
main.home-wrap > div.container > div.home > ul > a > li > img{
    border-radius: 15px;
    border: 1px solid #e9ecef;
}

main.home-wrap > div.container > div.home > ul > a > li.nickname{
    color: #888988;
    font-weight: bold;
    font-size: 15px;
    margin-top: 0.8rem;
}

/*** 상품 가격 ***/
main.home-wrap > div.container > div.home > ul > a > li.price{
    font-size: 18px;
    font-weight: bold;
}

/*** 제목 ***/
main.home-wrap > div.container > div.home > div.title{
    margin: 4rem 1rem 1rem 1rem;
    font-size: 1.65rem;
    font-weight: bold;
}

/*** 페이지 네이션 ***/
main.home-wrap > div.container > div.pagination{
    float: left;
    text-align: center;
    width: 100%;
    margin: 3rem 1rem;
}

main.home-wrap > div.container > div.pagination > span{
    margin: 1rem;
}

main.home-wrap > div.container > div.pagination > span.active > a{
    background-color: var(--default-purple-color);
    border-radius: 50%;
    padding: 0.8rem 1.2rem;
    color: #ffffff;
}

/*** 이미지 슬라이드 ***/
.post-slider{
    width:100%;
    /*margin:0px auto;*/
    position:relative;
}

.post-slider .next{
    position:absolute;
    top:50%;
    right:30px;
    font-size:3em;
    color:#000000;
    cursor: pointer;
    z-index: 99;
}
.post-slider .prev{
    position:absolute;
    top:50%;
    left:30px;
    font-size:3em;
    color:#000000;
    cursor: pointer;
    z-index: 99;
}
.post-slider .post-wrapper{
    width:100%;
    /*height:350px;*/
    margin:0px auto;
    overflow: hidden;
    padding:10px 0px 10px 0px;
}
.post-slider .post-wrapper .post{
    width:300px;
    /*height:300px;*/
    margin:0px 10px;
    display:inline-block;
    background:white;
    border-radius: 5px;
}
.post-slider .post-wrapper .post .post-info{
    font-size:15px;
    height:30%;
    padding-left:10px;
}
.post-slider .post-wrapper .post .slider-image{
    width:100%;
    /*height:175px;*/
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}