@import "parts/header.css";
@import "parts/footer.css";
@import "object.css";

:root{
    --border-color: #9D9D9D;
    --font-default: 'Noto Sans KR', sans-serif;
    --default-pink-color: #FF7D9E;
    --border-radius-value: 0.7rem;
}

html, body{
    position: relative;
    min-width: 1400px;
    font-family: var(--font-default);
    margin: 0;
    padding: 0;
}

li, ul{
    list-style: none;
}

a:link, a:visited {
    color: inherit;
    text-decoration: inherit;
}

input[type='password'],
input[type='email'],
input[type='text'],
input[type='search']{
    appearance: inherit;
    border: inherit;
    font: inherit;
    margin: inherit;
    outline: none;
    padding: inherit;
}