<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//Dli Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsb.portfolio.shopping_mall.models.category.ICategoryModel">
    <select id="selectImage" resultType="com.lsb.portfolio.shopping_mall.dtos.category.ByteArrayDto">
        SELECT `image` AS `value`
        FROM `shopping-mall`.`product_images`
        WHERE `key` = #{key}
    </select>
</mapper>