<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//Dli Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsb.portfolio.shopping_mall.models.root.IRootModel">
    <select id="selectAllProductCount" resultType="_int">
        SELECT COUNT(`index`) AS `count`
        FROM `shopping-mall`.`products`
    </select>

    <select id="selectAllProduct" resultType="com.lsb.portfolio.shopping_mall.dtos.shop.ProductDto">
        SELECT `index`            AS `index`,
               `member_index`     AS `memberIndex`,
               `product_name`     AS `productName`,
               `product_category` AS `productCategory`,
               `product_price`    AS `productPrice`,
               TO_BASE64(`image`) AS `imageBase64`,
               `image`            AS `image`,
               `product_hit`      AS `productHit`,
               `product_content`  AS `productContent`,
               `product_view`     AS `productView`
        FROM `shopping-mall`.`products`
        ORDER BY `index` DESC
        LIMIT #{perPage} OFFSET #{offset}
    </select>

    <select id="selectMemberNickname" resultType="string">
        SELECT `member`.`nickname` AS `nickname`
        FROM `shopping-mall`.`products` AS `product`
            LEFT JOIN  `shopping-mall`.`members` AS `member`
                ON `product`.`member_index` = `member`.`index`
        WHERE `product`.`member_index` = #{memberIndex}
            AND `product`.`index` = #{productIndex}
    </select>
</mapper>