header{
    padding-bottom: 1rem;
    border-bottom: #CDCDCD solid 1px;
}

div.login-wrap{
    width: 100%;
    border-bottom: #CDCDCD solid 1px;
}

div.login-wrap > ul{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
    margin: 0 10rem;
    padding: 0;
}

div.login-wrap > ul > li{
    margin: 0.5rem 0.6rem;
}

div.login-wrap > ul > li > .login-btn{
    width: 53px;
    height: 20px;
    border: 1px solid #000000;
    border-radius: 3px;
    font-size: 11px;
    padding: 0.06rem 0.7rem;
    line-height: 20px;
}

div.top-wrap{
    margin: 0 14.4rem
}

div.top-wrap > div{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 2rem 0;
}

div.top-wrap > div > img{
    cursor: pointer;
}

div.top-wrap > div > div.search-box{
    padding: 0.2rem 1.4rem;
    border-radius: 25rem;
    border: #000000 solid 0.16rem;
    margin: 0 0.5rem;
}

div.top-wrap > div > div.search-box > div > span > i{
    position: relative;
    top: 2px;
    font-weight: 800;
    font-size: 1.6rem;
    cursor: pointer;
}

div.top-wrap > div > div.search-box > div > input[type=search]{
    height: 2rem;
    width: 18rem;
}

div.top-wrap > div >  div.my-menu{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

div.top-wrap > div >  div.my-menu > div{
    margin-right: 0.6rem;
    cursor: pointer;
}

div.top-wrap > div >  div.my-menu > div > div.cart-count{
    border-radius: 100%;
    width: 1.4rem;
    height: 1.3rem;
    font-size: 12px;
    position: relative;
    top: -1.6rem;
    left: -0.4rem;
    display: inline-block;
    color: white;
    background: var(--default-purple-color);
}

div.top-wrap > div > div.my-menu > div > .fa-heart:hover{
    transform: scale(1.2);
    color: #FF416F;
}

div.top-wrap > div > div.my-menu > div > .fa-shopping-cart{
    position: relative;
    top: 0;
    left: 0.73rem;
}

div.top-wrap > div > div.my-menu > div > .fa-shopping-cart:hover{
    transform: scale(1.2);
    color: var(--default-purple-color);
}

div.top-wrap > div > div.my-menu > div > .i-wrap{
    font-size: 2.3rem;
    color: #505050;
}

div.top-wrap > div >  .my-menu > div > .good,
div.top-wrap > div >  .my-menu > div > .cart{
    font-size: 0.85rem;
    margin: 0 0.5rem;
}

div.top-wrap > div >  .my-menu > div > .cart{
    font-size: 0.85rem;
    margin-left: 1rem;
}

div.top-wrap > div > div.rank-box{
    display: flex;
    flex: 1;
    margin: 0 4rem;
    border-bottom: #000000 solid 1px;
}

div.top-wrap > div > div.rank-box > div.rank-title{
    cursor: pointer;
    padding: 0.2rem 0.7rem;
}

div.top-wrap > div > div.rank-box > div.rank-title > i{
    cursor: pointer;
    position: relative;
    top: 0;
    left: 160px;
}

div.allMenu-warp{
    margin: 0 10rem;
}

div.allMenu-warp > ul{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    padding: 0;
}

div.allMenu-warp > ul > li > button[name='btn-allMenu']{
    border: none;
    background-color: #FFFFFF;
    font-size: 2rem;
    cursor: pointer;
    margin: 0.3rem 0.5rem 0 0;
}

div.allMenu-warp > ul > li > div{
    padding: 0.5rem;
}

div.allMenu-warp > ul > li > div > a{
    font-size: 1rem;

}

div.allMenu-warp > ul > li:not(:nth-child(1)):hover{
    color: white;
    background-color: var(--default-purple-color);
}

div.allMenu-warp > ul > li > i{
    /*font-size: 2.2rem;*/
    /*margin-right: 1.5rem;*/
    /*font-weight: 400;*/
}

div.allMenu-warp > ul > li{
    position: relative;
    display: inline-block;
}

div.allMenu-warp > ul > li > ul.submenu{
    width: 8rem;
    padding: 0.5rem 2rem;
    position: absolute;
    text-align: left;
    display: none;
}

div.allMenu-warp > ul > li:hover > ul.submenu{
    display: block;
    color: white;
    background-color: var(--default-yellow-color);
}

div.allMenu-warp > ul > li:hover > ul.submenu > li:hover{
    color: black;
    list-style-type : square;
}

div.allMenu-warp > ul > li > ul.submenu:hover{
    display: block;
    color: white;
    background-color: var(--default-yellow-color);
}

div.allMenu-warp > ul > li:hover div{
    color: white;
    background-color: var(--default-yellow-color);
}

div.allMenu-warp > ul > li:nth-child(2){
    color: #BB8FC3;
}

div.allMenu-warp > ul > li:nth-child(3){
    color: var(--default-purple-color);
}

/*
div.allMenu-cover{
    width: 100%;
    height: 100%;
    background-color: var(--default-pink-color);
    !*opacity: 1;*!
    !*pointer-events: all;*!
    top: 0;
    left: 0;
    !*backdrop-filter: blur(0.33rem);*!
    position: fixed;
    z-index: 998;
}*/
