/*** 전체 스타일 ***/
main.admin-wrap{
    width: 90rem;
    margin: 4rem auto;
    text-align: center;
}

/*** 상품 리스트 ***/
main.admin-wrap > div.admin-list > table{
    width: 95%;
    margin: 2rem auto;
    border: 1px solid #CFCFCF;
    border-collapse: collapse;
}

main.admin-wrap > div.admin-list > table > thead{
    text-align: center;
    background-color: #F0F8FF;
}

main.admin-wrap > div.admin-list > table > tbody > tr > td:not(.options-wrap){
    text-align: center;
}

main.admin-wrap > div.admin-list > table td, th{
    padding: 1rem;
    border: 1px solid #CFCFCF;
}

main.admin-wrap > div.admin-list > table > tbody > tr >  td.review-wrap{
    width: 15rem;
}

main.admin-wrap > div.admin-list > table > tbody > tr > td.productInfo-wrap{
    text-align: left;
    padding: 0.4rem 1.5rem 0.4rem 1.5rem;
    width: 64rem;
}

main.admin-wrap > div.admin-list > table > tbody > tr > td.productInfo-wrap > div{
    display: inline-block;
}

/*'수정' 버튼*/
main.admin-wrap > div.admin-list > table > tbody > tr > td.productInfo-wrap > div.btn-group{
    float: right;
}

main.admin-wrap > div.admin-list > table > tbody > tr > td.productInfo-wrap > div.btn-group > span.edit-button{
    background-color: #00BF00;
    color: white;
    padding: 0.4rem 2rem;
    font-size: 17px;
    border-radius: 7px 0 0 7px;
}

main.admin-wrap > div.admin-list > table > tbody > tr > td.productInfo-wrap > div.btn-group > span.edit-button:hover{
    background-color: #80C780;
    cursor: pointer;
}

/*'삭제' 버튼*/
main.admin-wrap > div.admin-list > table > tbody > tr > td.productInfo-wrap > div.btn-group > span.delete-button{
    background-color: #E00305;
    color: white;
    padding: 0.4rem 2rem;
    font-size: 17px;
    border-radius: 0 7px 7px 0;
}

main.admin-wrap > div.admin-list > table > tbody > tr > td.productInfo-wrap > div.btn-group > span.delete-button:hover{
    background-color: #EE7173;
    cursor: pointer;
}

/*상품명*/
main.admin-wrap > div.admin-list > table > tbody > tr > td.productInfo-wrap > .productName-wrap{
    font-size: 1.1rem;
    font-weight: bold;
    color: #1C4284;
}

/*가격*/
main.admin-wrap > div.admin-list > table > tbody > tr > td.productInfo-wrap > .price-wrap{
    font-size: 1.15rem;
    color: #AE0000;
    font-weight: bold;
}

main.admin-wrap > div.admin-list > table > tbody > tr > td.productInfo-wrap > .price-wrap::after{
    content: '원';
}

/*** 마이 페이지 사용자 정보 ***/
main.admin-wrap > div.myPage-info{
    height: 5rem;
    margin-top: 4rem;
    border: 1px solid #CFCFCF;
    border-radius: 14px;
    padding: 1.4rem 3.7rem;
}

main.admin-wrap > div.myPage-info > div.user{
    float: left;
    padding: 1.5rem 0;
    margin-left: 1rem;
    font-size: 1.2rem;
}

main.admin-wrap > div.myPage-info > div.userIcon > i{
    float: left;
    font-size: 4.5rem;
    margin-right: 0.7rem;
    color: #DBDBDB;
    display: inline-block;
    border: 2px solid #FF96B0;
    border-radius: 50px;
}

main.admin-wrap > div.myPage-info > div.menu{
    float: right;
    padding: 1.5rem 0;
    margin-left: 1rem;
}

main.admin-wrap > div.myPage-info > div.menu > span.create-button{
    cursor: pointer;
}

main.admin-wrap > div.myPage-info > div.menu > span.create-button{
    padding: 0.5rem 1.6rem;
    border-radius: 40px;
    background-color: #3C3C3C;
    color: #ffffff;
}

main.admin-wrap > div.myPage-info > div.menu > span.create-button:hover{
    padding: 0.5rem 1.6rem;
    border-radius: 40px;
    background-color: #616161;
    color: #ffffff;
}

main.admin-wrap > div.myPage-info > div.menu > span:not(:last-child)::after{
    content: '';
    display: inline-block;
    width: 2px;
    height: 22px;
    margin: 0 2rem;
    vertical-align: middle;
    background: #E7E7E7;
}

/*** START 페이지 네이션 ***/
main.admin-wrap > div.admin-list > div.pagination{
    float: left;
    text-align: center;
    width: 100%;
    margin: 3rem 1rem;
}

main.admin-wrap > div.admin-list > div.pagination > span{
    margin: 1rem;
}

main.admin-wrap > div.admin-list > div.pagination > span.active > a{
    background-color: var(--default-purple-color);
    border-radius: 50%;
    padding: 0.8rem 1.2rem;
    color: #ffffff;
}
/*** END 페이지 네이션 ***/