/*** 전체 스타일 ***/
main.cart-wrap{
    width: 90rem;
    margin: 4rem auto;
}

/*** START 주문 현황 ***/
/*** 제목 ***/
main.cart-wrap > div.step > div.step-title{
    margin-bottom: 1rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    color: var(--default-purple-color);
}

/*** 내용 ***/
main.cart-wrap > div.step > div.step-content{
    margin: 2rem 19rem;
    height: 8rem;
    text-align: center;
}

main.cart-wrap > div.step >  div.step-content > ul{
    margin: auto;
    position: relative;
}

main.cart-wrap > div.step >  div.step-content > ul > li{
    float: left;
    margin: 0 4rem;
    padding: 1.6rem 1.5rem;
    border: 1px solid #AEAEAE;
    color: #AEAEAE;
    border-radius: 89px;
    font-size: 1.1rem;
}

main.cart-wrap > div.step >  div.step-content > ul > li.step2{
    padding: 1.6rem 1.3rem;
}

main.cart-wrap > div.step >  div.step-content > ul > li.step1:before{
    content: '';
    position: absolute;
    left: 13.8rem;
    top: 3.5rem;
    margin: -1px 0 0 0;
    width: 128px;
    height: 1px;
    background: #D3D3D3;
}

main.cart-wrap > div.step >  div.step-content > ul > li.step2:before{
    content: '';
    position: absolute;
    left: 29rem;
    top: 3.5rem;
    margin: -1px 0 0 0;
    width: 128px;
    height: 1px;
    background: #D3D3D3;
}

main.cart-wrap > div.step >  div.step-content > ul > li > i{
    font-size: 2.4rem;
}

main.cart-wrap > div.step >  div.step-content > ul > li.step1.on{
    border: 2px solid #FF8080;
    color: #FF8080;
    font-weight: bold;
}
/*** END 주문 현황 ***/

/*** START 장바구니 ***/
main.cart-wrap > div.cart{
    margin: 4rem 0;
}

main.cart-wrap > div.cart > form#cart-form > table{
    border-collapse: collapse;
    line-height: 1.5;
    display: inline-block;
    /*margin: 0;*/
    text-align: center;
    float: left;
    margin-bottom: 4rem;
}

main.cart-wrap > div.cart > form#cart-form > table thead th{
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-top: 2px solid black;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}

/*main.cart-wrap > div.cart > form#cart-form > table thead th.orderProduct-title{
    width: 31rem;
}

main.cart-wrap > div.cart > form#cart-form > table thead th.cartCount-title{
    width: 3rem;
}

main.cart-wrap > div.cart > form#cart-form > table thead th.price-title{
    width: 9rem;
}*/
/*** END 장바구니 ***/

/*** START 장바구니 삭제 버튼 ***/
main.cart-wrap > div.cart > form#cart-form > table > tbody > tr > td.delete-wrap{
    width: 4rem;
    font-size: 1.4rem;
    color: #B2B2B2;
    cursor: pointer;
}

main.cart-wrap > div.cart > form#cart-form > table tbody td.choice-delete-wrap{
    text-align: right;
    border-bottom: none;
}

main.cart-wrap > div.cart > form#cart-form > table tbody td.choice-delete-wrap > input[name="delete"]{
    width: 10rem;
    height: 2.7rem;
    font-size: 1rem;
}
/*** END 장바구니 삭제 버튼 ***/

/*** START 장바구니 삭제 아이콘 버튼 ***/
main.cart-wrap > div.cart > form#cart-form > table input[name="deleteIcon"]{
    display: none;
}

main.cart-wrap > div.cart > form#cart-form > table input[name="deleteIcon"] + label i{
    cursor: pointer;
    color: #9B9B9B;;
    font-size: 1.9rem;
}
/*** END 장바구니 삭제 아이콘 버튼 ***/

main.cart-wrap > div.cart > form#cart-form > table tbody td{
    padding: 10px;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
}

/*** START 주문상품 정보 ***/
main.cart-wrap > div.cart > form#cart-form > table > tbody > tr > td.message{
    width: 62rem;
}

main.cart-wrap > div.cart > form#cart-form > table > tbody > tr > td.info-wrap{
    width: 28rem;
    text-align: left;
}

main.cart-wrap > div.cart > form#cart-form > table > tbody > tr > td.info-wrap > div{
    margin: 1rem;
}

main.cart-wrap > div.cart > form#cart-form > table > tbody > tr > td.info-wrap > div > b{
    font-size: 1.12rem;
}

main.cart-wrap > div.cart > form#cart-form > table > tbody > tr > td.info-wrap > div.option-wrap{
    color: #8A8A8A;
    font-size: 0.9rem;
}
/*** END 주문상품 정보 ***/

/*** 상품 수량 ***/
main.cart-wrap > div.cart > form#cart-form > table > tbody > tr > td.cartCount-wrap > input[type="number"]{
    width: 2rem;
    border: 1px solid #C7C7C7;
    text-align: center;
}

/*** 상품 가격 ***/
main.cart-wrap > div.cart > form#cart-form > table > tbody > tr > td.subPrice-wrap{
    width: 9rem;
}

/*** 장바구니 체크박스 ***/
main.cart-wrap > div.cart > form#cart-form > table input[type="checkbox"]{
    display: none;
}

main.cart-wrap > div.cart > form#cart-form > table input[type="checkbox"] + label i{
    cursor: pointer;
    color: #CFCFCF;
    font-size: 1.4rem;
}

main.cart-wrap > div.cart > form#cart-form > table input[type='checkbox']:checked + label i{
    color: #FF8080;
}

main.cart-wrap > div.cart > form#cart-form > table > tbody > tr > td.subPrice-wrap::after,
main.cart-wrap > div.cart > form#cart-form > div.total-order > div > div > span.price::after,
main.cart-wrap > div.cart > form#cart-form > div.total-order > div.order-wrap > div.content > div > span.price::after{
    content: '원';
}

/*** 계산서 ***/
main.cart-wrap > div.cart > form#cart-form > div.total-order{
    width: 25rem;
    margin-bottom: 6rem;
    margin-left: 1rem;
    display: inline-block;
    float: left;
}

main.cart-wrap > div.cart > form#cart-form > div.total-order > div.order-wrap{
    padding: 2rem;
    background-color: #F6F6F6;
}

main.cart-wrap > div.cart > form#cart-form > div.total-order > div.order-wrap > div > span.price{
    font-size: 1.5rem;
    color: #AE0000;
    font-weight: bold;
    display: inline-block;
    margin: 1rem 0;
}

main.cart-wrap > div.cart > form#cart-form > div.total-order > div.order-wrap > div.content{
    color: #7e7e7e;
}

main.cart-wrap > div.cart > form#cart-form > div.total-order > div.order-wrap > div.content > div > span.price{
    float: right;
}

/*** '주문하기' 버튼 ***/
main.cart-wrap > div.cart > form#cart-form > div.total-order > input.object-button{
    width: 100%;
    height: 4rem;
    font-size: 1.3rem;
    margin-top: 1rem;
}