/*** 전체 스타일 ***/
main.list-wrap{
    width: 90rem;
    margin: auto;
}

/*** 제목 ***/
main.list-wrap > div.title{
    margin: 4rem 1rem 1rem 1rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    color: var(--default-purple-color);
}

/*** 서브 메뉴 ***/
main.list-wrap > div.submenu{
    text-align: center;
    margin: 2rem 0;
}

main.list-wrap > div.submenu > span.active > a{
    color: var(--default-purple-color);
    border-top: 1px solid var(--default-purple-color);
    border-bottom: 1px solid var(--default-purple-color);
    font-weight: bold;
    padding: 5px;
    font-size: 1.1rem;
}

main.list-wrap > div.submenu > span::after{
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 1rem;
    vertical-align: middle;
    background: var(--border-color);
    border-radius: 50%;
}

main.list-wrap > div.submenu > span:last-child:after{
    content: '';
    background: #ffffff;
}

/*** 상품 리스트 ***/
main.list-wrap > div.list-content > ul{
    display: inline-block;
    float: left;
    overflow: auto;
}

/*** 리스트 이미지 ***/
main.list-wrap > div.list-content > ul > a > li > img{
    border-radius: 15px;
    border: 1px solid #e9ecef;
}

main.list-wrap > div.list-content > ul > a > li.nickname{
    color: #888988;
    font-weight: bold;
    font-size: 15px;
    margin-top: 0.8rem;
}

/*** 상품 가격 ***/
main.list-wrap > div.list-content > ul > a > li.price{
    font-size: 18px;
    font-weight: bold;
}

/*** 페이지 네이션 ***/
main.list-wrap > div.pagination{
    float: left;
    text-align: center;
    width: 100%;
    margin: 3rem 1rem;
}

main.list-wrap > div.pagination > span{
    margin: 1rem;
}

main.list-wrap > div.pagination > span.active > a{
    background-color: var(--default-purple-color);
    border-radius: 50%;
    padding: 0.8rem 1.2rem;
    color: #ffffff;
}