/*** 전체 스타일 ***/
main.order-wrap{
    width: 90rem;
    margin: 4rem auto;
}

/*** 서브 제목 ***/
main.order-wrap > div .sub-title{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

main.order-wrap > div .sub-title::before{
    content: '';
    display: inline-block;
    width: 7px;
    height: 28px;
    margin-right: 0.7rem;
    vertical-align: middle;
    background: var(--default-purple-color);
}

/*** START 주문 현황 ***/
/* 제목 */
main.order-wrap > div.step > div.step-title{
    margin-bottom: 1rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    color: var(--default-purple-color);
}

/* 내용 */
main.order-wrap > div.step > div.step-content{
    margin: 2rem 19rem;
    height: 8rem;
    text-align: center;
}

main.order-wrap > div.step >  div.step-content > ul{
    margin: auto;
    position: relative;
}

main.order-wrap > div.step >  div.step-content > ul > li{
    float: left;
    margin: 0 4rem;
    padding: 1.6rem 1.5rem;
    border: 1px solid #AEAEAE;
    color: #AEAEAE;
    border-radius: 89px;
    font-size: 1.1rem;
}

main.order-wrap > div.step >  div.step-content > ul > li.step2{
    padding: 1.6rem 1.3rem;
}

main.order-wrap > div.step >  div.step-content > ul > li.step1:before{
    content: '';
    position: absolute;
    left: 13.8rem;
    top: 3.5rem;
    margin: -1px 0 0 0;
    width: 128px;
    height: 1px;
    background: #D3D3D3;
}

main.order-wrap > div.step >  div.step-content > ul > li.step2:before{
    content: '';
    position: absolute;
    left: 29rem;
    top: 3.5rem;
    margin: -1px 0 0 0;
    width: 128px;
    height: 1px;
    background: #D3D3D3;
}

main.order-wrap > div.step >  div.step-content > ul > li > i{
    font-size: 2.4rem;
}

main.order-wrap > div.step >  div.step-content > ul > li.step2.on{
    border: 2px solid #FF8080;
    color: #FF8080;
    font-weight: bold;
}
/*** END 주문 현황 ***/

/*** START 주문 내용 ***/
main.order-wrap > div.order{
    margin-top: 5rem;
}

main.order-wrap > div.order > div.order-content{
    display: inline-block;
    width: 64rem;
    margin: 0;
}

main.order-wrap > div.order > div.order-content > form#order-form > table{
    border-collapse: collapse;
    line-height: 1.5;
    display: inline-block;
    /*margin: 0;*/
    text-align: center;
    float: left;
    margin-bottom: 3rem;
}

main.order-wrap > div.order > div.order-content form#order-form > table thead th{
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-top: 2px solid black;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}

/*** START 주문 삭제 아이콘 버튼 ***/
main.order-wrap > div.order > div.order-content > form#order-form > table td.delete-wrap{
    width: 4rem;
}

main.order-wrap > div.order > div.order-content > form#order-form > table input[name="deleteIcon"]{
    display: none;
}

main.order-wrap > div.order > div.order-content > form#order-form > table input[name="deleteIcon"] + label i{
    cursor: pointer;
    color: #9B9B9B;;
    font-size: 1.9rem;
}
/*** END 주문 삭제 아이콘 버튼 ***/

main.order-wrap > div.order > div.order-content > form#order-form > table tbody td{
    padding: 10px;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
}

/*** START 주문상품 정보 ***/
main.order-wrap > div.order > div.order-content > form#order-form > table > tbody > tr > td.message{
    width: 62rem;
}

main.order-wrap > div.order > div.order-content > form#order-form > table > tbody > tr > td.info-wrap{
    width: 30rem;
    text-align: left;
}

main.order-wrap > div.order > div.order-content > form#order-form > table > tbody > tr > td.info-wrap > div{
    margin: 1rem;
}

main.order-wrap > div.order > div.order-content > form#order-form > table > tbody > tr > td.info-wrap > div > b{
    font-size: 1.12rem;
}

main.order-wrap > div.order > div.order-content > form#order-form > table > tbody > tr > td.info-wrap > div.option-wrap{
    color: #8A8A8A;
    font-size: 0.9rem;
}
/*** END 주문상품 정보 ***/

/* 상품 수량 */
main.order-wrap > div.order > div.order-content > form#order-form > table > tbody > tr > td.orderCount-wrap{
    width: 6rem;
}

main.order-wrap > div.order > div.order-content > form#order-form > table > tbody > tr > td.orderCount-wrap > input[type="number"]{
    width:  2rem;
    border: 1px solid #C7C7C7;
    text-align: center;
}

/* 상품 가격 */
main.order-wrap > div.order > div.order-content > form#order-form > table > tbody > tr > td.subPrice-wrap{
    width: 9rem;
}

/* 장바구니 체크박스 */
main.order-wrap > div.order > div.order-content > form#order-form > table input[type="checkbox"]{
    display: none;
}

main.order-wrap > div.order > div.order-content > form#order-form > table input[type="checkbox"] + label i{
    cursor: pointer;
    color: #CFCFCF;
    font-size: 1.4rem;
}

main.order-wrap > div.order > div.order-content > form#order-form > table input[type='checkbox']:checked + label i{
    color: #FF8080;
}

/*** START 주소 입력 ***/
main.order-wrap > div.order > div.order-content > form#order-form > div.address-wrap{
    display: inline-block;
    width: 100%;
}

main.order-wrap > div.order > div.order-content > form#order-form > div.address-wrap::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    margin: 3rem 0;
    vertical-align: middle;
    background: #E7E7E7;
}

main.order-wrap > div.order > div.order-content > form#order-form > div.address-wrap > div.content{
    margin-left: 1rem;
    font-size: 17px;
}

main.order-wrap > div.order > div.order-content > form#order-form > div.address-wrap > div.content > div > .address-title{
    width: 5rem;
}

main.order-wrap > div.order > div.order-content > form#order-form > div.address-wrap > div.content > div > .address-content{
    width: 16rem;
    border-bottom: 1px solid #CBCBCB;
    padding: 0 1rem 0.4rem 0.3rem;
}

main.order-wrap > div.order > div.order-content > form#order-form > div.address-wrap > div.content > div > #addressPost{
    text-align: center;
    width: 5rem;
}


main.order-wrap > div.order > div.order-content > form#order-form > div.address-wrap > div.content > div > div{
    margin: 1rem;
    display: inline-block;
}

main.order-wrap > div.order > div.order-content > form#order-form > div.address-wrap > div.content > div > input.object-button.prop-basic{
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    margin-left: 1rem;
    font-size: 14px;
}
/*** END 주소 입력 ***/

/*** START 결제 수단 ***/
main.order-wrap > div.order > div.order-content > form#order-form > div.payment-wrap{
    display: inline-block;
    width: 100%;
}

main.order-wrap > div.order > div.order-content > form#order-form > div.payment-wrap > div.payment-content{
    margin: 0 0 2rem 1rem;
}

main.order-wrap > div.order > div.order-content > form#order-form > div.payment-wrap > div.payment-content > div.payment-title{
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

/*간편 결제 버튼*/
main.order-wrap > div.order > div.order-content > form#order-form > div.payment-wrap > div.payment-content.simplePayment > button{
    width: 11rem;
    height: 3.7rem;
    font-size: 1.4rem;
    font-weight: bold;
    border: 1px solid #C3C3C3;
    border-radius: 5px;
    background-color: #FFF8F9;
    margin-right: 0.5rem;
}

main.order-wrap > div.order > div.order-content > form#order-form > div.payment-wrap > div.payment-content.simplePayment > button.active,
main.order-wrap > div.order > div.order-content > form#order-form > div.payment-wrap > div.payment-content.generalPayment > button.active{
    background-color: #FF7D9E;
    color: #ffffff;
    border: none;
}

main.order-wrap > div.order > div.order-content > form#order-form > div.payment-wrap > div.payment-content.simplePayment > button:hover{
    background-color: #FF7D9E;
    color: #ffffff;
    cursor: pointer;
    border: none;
}

/*일반 결제 버튼*/
main.order-wrap > div.order > div.order-content > form#order-form > div.payment-wrap > div.payment-content.generalPayment > button{
    width: 10rem;
    height: 4.5rem;
    font-size: 1rem;
    border: 1px solid #C3C3C3;
    border-radius: 5px;
    background-color: #ffffff;
    margin-right: 0.5rem;
}

main.order-wrap > div.order > div.order-content > form#order-form > div.payment-wrap > div.payment-content.generalPayment > button:hover{
    background-color: #FF7D9E;
    color: #ffffff;
    cursor: pointer;
    border: none;
}
/*** END 결제 수단 ***/

main.order-wrap > div.order > div.order-content > form#order-form > table > tbody > tr > td.subPrice-wrap::after,
main.order-wrap > div.order > div.total-order > div > div > span.price::after,
main.order-wrap > div.order > div.total-order > div.order-wrap > div.content > div > span.price::after{
    content: '원';
}

/*** END 주문 내용 ***/

/*** START 계산서 ***/
main.order-wrap > div.order > div.total-order{
    width: 25rem;
    margin-bottom: 6rem;
    margin-left: 1rem;
    display: inline-block;
    float: right;
}

main.order-wrap > div.order > div.total-order > div.order-wrap{
    margin-top: 2.6rem;
    padding: 2rem;
    background-color: #F6F6F6;
}

main.order-wrap > div.order > div.total-order > div.order-wrap > div > span.price{
    font-size: 1.5rem;
    color: #AE0000;
    font-weight: bold;
    display: inline-block;
    margin: 1rem 0;
}

main.order-wrap > div.order > div.total-order > div.order-wrap > div.content{
    color: #7e7e7e;
}

main.order-wrap > div.order > div.total-order > div.order-wrap > div.content > div > span.price{
    float: right;
}
/*** END 계산서 ***/

/*** '주문하기' 버튼 ***/
main.order-wrap > div.order > div.total-order > input.object-button{
    width: 100%;
    height: 4rem;
    font-size: 1.3rem;
    margin-top: 1rem;
}