/*** 전체 스타일 ***/
main.payment-wrap{
    width: 90rem;
    margin: 4rem auto;
}

/*제목*/
main.payment-wrap > div.payment > div.title{
    font-size: 1.7rem;
    font-weight: bold;
}

main.payment-wrap > div.payment > div.title::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 3px;
    vertical-align: middle;
    background: var(--default-purple-color);
}

/*** 주문 내역 ***/
main.payment-wrap > div.payment > div.date-wrap{
    margin-top: 5rem;
    margin-bottom: 3rem;
    position: relative;
}

main.payment-wrap > div.payment > div.date-wrap > div.date{
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid #AEAEAE;
    width: 9rem;
    padding: 0.2rem;
    margin: 1rem auto;
    border-radius: 17px;
}

main.payment-wrap > div.payment > div.date-wrap > div.date::before{
    content: '';
    position: absolute;
    left: -0.2rem;
    top: 1.2rem;
    width: 45%;
    height: 1px;
    background: #AEAEAE;
}

main.payment-wrap > div.payment > div.date-wrap > div.date::after{
    content: '';
    position: absolute;
    left: 49.7rem;
    top: 1.2rem;
    width: 45%;
    height: 1px;
    background: #AEAEAE;
}

main.payment-wrap > div.payment > table{
    width: 96%;
    margin: 2rem auto;
    border: 1px solid #CFCFCF;
    border-collapse: collapse;
}

main.payment-wrap > div.payment > table > thead{
    text-align: center;
    background-color: #F0F8FF;
}

main.payment-wrap > div.payment > table > tbody > tr > td:not(.options-wrap){
    text-align: center;
}

main.payment-wrap > div.payment > table > thead > tr.title-wrap{
    border-bottom: 1px solid #CFCFCF;
}

main.payment-wrap > div.payment > table td, th{
    padding: 1rem;
}

main.payment-wrap > div.payment > table > tbody > tr >  td.review-wrap{
    width: 15rem;
}

/*상품명*/
main.payment-wrap > div.payment > table > tbody > tr >  td > div.productName-wrap{
    text-align: left;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.4rem 0 0.4rem 0;
    color: #1C4284;
}

/*결제상태*/
main.payment-wrap > div.payment > table > tbody > tr > td > div.payment-status{
    width: 5rem;
    background-color: seagreen;
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    padding: 0.2rem 0;
    border-radius: 6px;
}

/*결제중*/
main.payment-wrap > div.payment > table > tbody > tr > td > div.paying-status{
    width: 5rem;
    background-color: #FFC000;
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    padding: 0.2rem 0;
    border-radius: 6px;
}

/*옵션(사이즈, 색상)*/
main.payment-wrap > div.payment > table > tbody > tr > td.options-wrap{
    width: 33rem;
    padding: 2rem 1rem;
}

main.payment-wrap > div.payment > table > tbody > tr > td > div > span.size-title,
main.payment-wrap > div.payment > table > tbody > tr > td > div > span.color-title{
    width: 4.5rem;
    padding: 0.4rem 0 0.4rem 0;
    display: inline-block;
}

/*가격*/
main.payment-wrap > div.payment > table > tbody > tr > td.price-wrap{
    font-size: 1.15rem;
    color: #AE0000;
    font-weight: bold;
}

main.payment-wrap > div.payment > table > tbody > tr > td.price-wrap::after{
    content: '원';
}

/*상품 이미지*/
main.payment-wrap > div.payment > table > tbody .image-wrap{
    width: 10rem;
}

/*'리뷰 작성' 버튼*/
main.payment-wrap > div.payment > table > tbody > tr > td > div.review-button-wrap{
    border-radius: 4px;
    width: 9rem;
    padding: 1rem;
    border: 1px solid #8E8E8E;
    color: #555555;
    display: inline-block;
    margin: 0;
}

main.payment-wrap > div.payment > table > tbody > tr > td > div.review-button-wrap:hover{
    border: 1px solid black;
    color: black;
}

main.payment-wrap > div.payment > table > tbody > tr > td > div.review-message{
    width: 8rem;
    background-color: var(--default-purple-color);
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    padding: 0.2rem 0;
    border-radius: 6px;
}

/*** START 페이지 네이션 ***/
main.payment-wrap > div.payment > div.pagination{
    float: left;
    text-align: center;
    width: 100%;
    margin: 3rem 1rem;
}

main.payment-wrap > div.payment > div.pagination > span{
    margin: 1rem;
}

main.payment-wrap > div.payment > div.pagination > span.active > a{
    background-color: var(--default-purple-color);
    border-radius: 50%;
    padding: 0.8rem 1.2rem;
    color: #ffffff;
}
/*** END 페이지 네이션 ***/