/*** 전체 스타일 ***/
main.read-wrap{
    width: 90rem;
    margin: 4rem auto;
}

/*** 상세페이지 타이틀 ***/
main.read-wrap > form#read-form > div.read-top > div.image > img{
    float: left;
    width: 35rem;
    height: 35rem;
    margin-right: 7rem;
    border-radius: 10px;
    border: 1px solid #e9ecef;
}

main.read-wrap > form#read-form > div.read-top > div.prod-buy{
    width: 47rem;
    float: left;
}

main.read-wrap > form#read-form > div.read-top > div.prod-buy > div:not(.price){
    margin-top: 1rem;
}

/*** 사용자 닉네임 ***/
main.read-wrap > form#read-form > div.read-top > div.prod-buy > div.nickname{
    color: #888988;
    font-size: 1rem;
}

/*** 타이틀 ***/
main.read-wrap > form#read-form > div.read-top > div.prod-buy > div.title:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    margin: 1rem 0;
    vertical-align: middle;
    background: #D8D8D8;
}

/*** 상품명 ***/
main.read-wrap > form#read-form > div.read-top > div.prod-buy > div.title > span.name{
    display: inline-block;
    width: 86%;
    font-size: 1.83rem;
    font-weight: bold;
}

/*** 상품가격 ***/
main.read-wrap > form#read-form > div.read-top > div.prod-buy > div.price{
    font-size: 1.5rem;
    font-weight: bold;
    color: #AE0000;
    margin: 0;
}

main.read-wrap > form#read-form > div.read-top > div.prod-buy > div.delivery{
    font-weight: bold;
}

main.read-wrap > form#read-form > div.read-top > div.prod-buy > div.delivery::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    margin: 1rem 0;
    vertical-align: middle;
    background: #EEEEEE;
}

/*** 상품 옵션 (색상, 사이즈) ***/
main.read-wrap > form#read-form > div.read-top > div.prod-buy > div > select{
    display: block;
    width: 14rem;
    height: 2rem;
    font-size: 1rem;
}

/*main.read-wrap > form#read-form > div.read-top > div.prod-buy > div.totalPrice::after{
    content: '';
    display: inline-block;
    width: 42rem;
    height: 1px;
    margin: 1rem 0;
    vertical-align: middle;
    background: #EEEEEE;
}*/

/*** 장바구니 리스트 ***/
main.read-wrap > form#read-form > div.read-top > div.prod-buy > div.order-list::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    margin: 1rem 0;
    vertical-align: middle;
    background: #000000;
}

main.read-wrap > form#read-form > div.read-top > div.prod-buy > div.order-list::before{
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    margin: 1rem 0;
    vertical-align: middle;
    background: #EEEEEE;
}

main.read-wrap > form#read-form > div.read-top > div.prod-buy > div.order-list > div{
    margin: 1rem;
}

main.read-wrap > form#read-form > div.read-top > div.prod-buy > div.order-list > div > span{
    width: 24rem;
    display: inline-block;
    text-align: left;
}

main.read-wrap > form#read-form > div.read-top > div.prod-buy > div.order-list > div > span.cartPrice{
    width: 10rem;
    display: inline-block;
    text-align: right;
}

main.read-wrap > form#read-form > div.read-top > div.prod-buy > div.order-list > div > i.cart-delete{
    margin-left: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--border-color);
}

main.read-wrap > form#read-form > div.read-top > div.prod-buy > div > input.object-button.prop-dark{
    width: 19rem;
    margin-left: 4rem;
    height: 5rem;
    font-size: 1.5rem;
}

main.read-wrap > form#read-form > div.read-top > div.prod-buy > div > input.object-button.prop-purple{
    width: 19rem;
    height: 5rem;
    font-size: 1.5rem;
}

main.read-wrap > form#read-form > div.read-top > div.prod-buy > div.order-list > div > input[name='cartCount']{
    margin: 0px 10px;
    border: gray 1px solid;
    width: 4rem;
    text-align: center;
}

main.read-wrap > form#read-form > div.read-top > div.prod-buy > span.cartTotalPrice-title{
    margin: 1rem 2rem;
    display: inline-block;
    font-size: 1.3rem;
}

main.read-wrap > form#read-form > div.read-top > div.prod-buy > span.totalPrice::after,
main.read-wrap > form#read-form > div.read-top > div.prod-buy > div.order-list > div > span.cartPrice::after{
    content: '원';
}

main.read-wrap > form#read-form > div.read-top > div.prod-buy > span.totalPrice{
    display: inline-block;
    width: 33rem;
    text-align: right;
    font-size: 1.7rem;
    color: var(--default-purple-color);
    font-weight: bold;
}



    /*main.read-wrap > form#read-form > div.read-top > div.prod-buy > div.order-list > div > input[type='number']{
        -moz-appearance: textfield;
    }*/

/*main.read-wrap > form#read-form > div.read-top > div.prod-buy > div.order-list > div > input[name='cartCount']::-webkit-outer-spin-button,
main.read-wrap > form#read-form > div.read-top > div.prod-buy > div.order-list > div > input[name='cartCount']::-webkit-inner-spin-button {
    -webkit-appearance: button;
    margin: 0;
}*/

/*** 좋아요 체크박스 ***/
main.read-wrap > form > div.read-top > div.prod-buy > div.title > span#like-toggle > input[name="like"],
main.read-wrap > form > div.read-top > div.prod-buy > div.title > span#like-toggle > input[name="like"]{
    display: none;
}

main.read-wrap > form > div.read-top > div.prod-buy > div.title > span#like-toggle > input[name="like"] + label i,
main.read-wrap > form > div.read-top > div.prod-buy > div.title > span#like-toggle > input[name="like"] + label i{
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #A6A6A6;
    cursor:pointer;
    font-size: 2.5rem;
}

main.read-wrap > form > div.read-top > div.prod-buy > div.title > span#like-toggle > input[name="like"]:checked + label i,
main.read-wrap > form > div.read-top > div.prod-buy > div.title > span#like-toggle > input[name="like"]:checked + label i{
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #FF6080;
    cursor: pointer;
}

/*** 수정, 삭제 버튼 ***/
main.read-wrap > form > div.read-top > div.prod-buy > div.admin-read{
    text-align: center;
}

main.read-wrap > form > div.read-top > div.prod-buy > div.admin-read > span{
    margin: 2rem;
    color: lightgray;
}

main.read-wrap > form > div.read-top > div.prod-buy > div.admin-read > a{
    color: #3784EB;
}

/*** 상세페이지 내용 ***/
main.read-wrap > div.read-content{
    padding-top: 6rem;
    clear: both;
}

/*** 상세페이지 내용 탭 ***/
/*참고 : https://codepen.io/iheno/pen/eYddXoo */
main.read-wrap > div.read-content > div.content-tab{
    text-align: center;
    font-size: 1.7rem;
}

main.read-wrap > div.read-content > div.content-tab > span{
    width: calc(99%/2);
    height: 56px;
    border-top: 3px solid #333333;
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    background-color: #F3F3F3; /*FAFAFA*/
    line-height: 50px;
    font-size: 1.3rem;
    color: #333333;
    display: block;
    float: left;
    padding-top: 1rem;
    font-weight: bold;
    transition: all 0.2s ease;
    cursor: pointer;
}



main.read-wrap > div.read-content > div.content-tab > span:hover{
    opacity: 0.75;
}

main.read-wrap > div.read-content > div.content-tab > span.active{
    background-color: #ffffff;
    border-bottom: none;
}

main.read-wrap > div.read-content > div#content-wrap{
    padding-top: 7rem;
}

main.read-wrap > div.read-content > div#content-wrap img{
width: 100%;
}

/*** 상품정보 ***/
main.read-wrap > div > div#content-wrap > div.product-info.visible {
    display: block;
}

main.read-wrap > div > div#content-wrap > div.product-info {
    display: none;
}

main.read-wrap > div > div#content-wrap > div.product-review.visible {
    display: block;
}

main.read-wrap > div > div#content-wrap > div.product-review {
    display: none;
}

/*** 리뷰 별점 평점 ***/
main.read-wrap > div > div#content-wrap > div.product-review > div.rating-view{
    width: 100%;
    height: 15rem;
    background-color: #F8F9FB;
}

main.read-wrap > div > div#content-wrap > div.product-review > div.rating-view > div{
    float: left;
    padding-top: 2rem;
    text-align: center;
}

/*** 사용자 총 평점 ***/
main.read-wrap > div > div#content-wrap > div.product-review > div.rating-view > div.average-wrap{
    margin-left: 9rem;
}

main.read-wrap > div > div#content-wrap > div.product-review > div.rating-view > div.average-wrap > div.rating-title{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

main.read-wrap > div > div#content-wrap > div.product-review > div.rating-view > div.average-wrap > div.rating-content > .rating-average{
    font-size: 2.7rem;
}

main.read-wrap > div > div#content-wrap > div.product-review > div.rating-view > div.average-wrap > div.rating-content > .rating-average i{
    -webkit-text-fill-color: transparent;
}

main.read-wrap > div > div#content-wrap > div.product-review > div.rating-view > div.average-wrap > div.rating-content > div > span.average{
    font-size: 3rem;
    font-weight: bold;
}

/*** 전체 리뷰 수 ***/
main.read-wrap > div > div#content-wrap > div.product-review > div.rating-view > div.reviewCount-wrap{
    margin-left: 15rem;
}

main.read-wrap > div > div#content-wrap > div.product-review > div.rating-view > div.reviewCount-wrap > div.rating-title{
    margin-bottom: 1rem;
}

main.read-wrap > div > div#content-wrap > div.product-review > div.rating-view > div.reviewCount-wrap > div.rating-content > div{
    font-size: 3rem;
    font-weight: bold;
}

main.read-wrap > div > div#content-wrap > div.product-review > div.rating-view > div.reviewCount-wrap > div.rating-content > i{
    margin-top: 1rem;
    font-size: 3.6rem;
    color: #D3D6D9;
}

main.read-wrap > div > div#content-wrap > div.product-review > div.rating-view > div > div.rating-content > div > span.averageTotal{
    font-size: 2rem;
    color: #DBDBDB;
}

/*** 평점 비율 ***/
main.read-wrap > div > div#content-wrap > div.product-review > div.rating-view > div.ratingRatio-wrap > div.rating-title{
    margin-bottom: 1rem;
}

main.read-wrap > div > div#content-wrap > div.product-review > div.rating-view > div.ratingRatio-wrap{
    margin-left: 13rem;
}

main.read-wrap > div > div#content-wrap > div.product-review > div.rating-view > div.ratingRatio-wrap > div.rating-content > div{
    float: left;
    margin-left: 2.5rem;
}

main.read-wrap > div > div#content-wrap > div.product-review > div.rating-view > div.ratingRatio-wrap > div.rating-content > div > div.reviewRating-count{
    display: inline-block;
    position: relative;
    margin-top: -1px;
    height: 17px;
    padding: 0 5px;
    border-radius: 2px;
    background-color: #f54a4c;
    font-size: 15px;
    line-height: 15px;
    color: #fff;
}

main.read-wrap > div > div#content-wrap > div.product-review > div.rating-view > div.ratingRatio-wrap > div.rating-content > div > div.reviewRating-count::after{
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -4px;
    border: 4px solid transparent;
    border-top-color: #f54a4c;
    content: '';
}

main.read-wrap > div > div#content-wrap > div.product-review > div.rating-view > div.ratingRatio-wrap > div.rating-content > div > div.bar{
    width: 1rem;
    height: 5.8rem  ;
    margin: auto;
    border-radius: 50px;
    background: #DCDDDE;
}

/*** 리뷰 별점 ***/
main.read-wrap > div > div#content-wrap > div.product-review > form#review-form{
    clear: both;
}

main.read-wrap > div > div#content-wrap > div.product-review > form#review-form > ul{
    padding: 1rem 1.6rem;
    border-bottom: 1px solid #E3E3E3;

}

main.read-wrap > div > div#content-wrap > div.product-review > form#review-form > ul > li.userIcon{
    font-size: 2.7rem;
    margin-right: 0.7rem;
    color: lightslategray;
    display: inline-block;
}
main.read-wrap > div > div#content-wrap > div.product-review > form#review-form > ul > li.star{
    display: inline-block;
    position: absolute;
    font-weight: bold;
    font-size: 1.13rem;
}

main.read-wrap > div > div#content-wrap > div.product-review > form#review-form > ul > li.nickname{
    display: inline-block;
    color: lightslategray;
}

main.read-wrap > div > div#content-wrap > div.product-review > form#review-form > ul > li.nickname::after{
    content: '|';
    margin: 0.5rem;
    color: lightgray;
}

main.read-wrap > div > div#content-wrap > div.product-review > form#review-form > ul > li.date{
    display: inline-block;
    color: lightslategray;
}

main.read-wrap > div > div#content-wrap > div.product-review > form#review-form > ul > li.content{
    margin-left: 3.7rem;
}

/*** 리뷰 작성 ***/
main.read-wrap > div > div#content-wrap > div.product-review > form#review-form > .review_rating{
    text-align: center;
    font-size: 1.7rem;
    margin-top: 3rem;
    /*border: 1px solid gray;
    border-radius: 50px;
    box-shadow: 15px 5px;*/
}

main.read-wrap > div > div#content-wrap > div.product-review > form#review-form > .review_rating > table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 1rem;
}

main.read-wrap > div > div#content-wrap > div.product-review > form#review-form > .review_rating > table .rating{
    margin-bottom: 1rem;
}

/*main.read-wrap > div > div#content-wrap > div.product-review > form#review-form > .review_rating > div.warning_msg{
    color: gray;
    font-size: 1.3rem;
    margin-top: 1rem;
}*/

main.read-wrap > div > div#content-wrap > div.product-review > form#review-form > .review_rating > table thead th{
    font-size: 22px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: var(--default-purple-color);
    border-bottom: 3px solid var(--default-purple-color);
}

main.read-wrap > div > div#content-wrap > div.product-review > form#review-form > .review_rating > table tbody th{
    width: 234px;
    font-size: 19px;
    padding: 1rem;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

main.read-wrap > div > div#content-wrap > div.product-review > form#review-form > .review_rating > table tbody textarea{
    margin: 1rem;
}

main.read-wrap > div > div#content-wrap > div.product-review > form#review-form > .review_rating > table tbody td{
    border-bottom: 1px solid #ccc;
}

main.read-wrap > div > div#content-wrap > div.product-review > form#review-form > .review_rating > table thead td{
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

main.read-wrap > div > div#content-wrap > div.product-review > form#review-form > .review_rating > table thead th::before{
    content: '';
    display: inline-block;
    width: 6px;
    height: 27px;
    margin-right: 10px;
    vertical-align: middle;
    background: var(--default-purple-color);
}

/*main.read-wrap > div > div#content-wrap > div.product-review > form#review-form > .review_rating > div.title::after{
content: '\\';
margin: 1rem;
}*/

main.read-wrap > div > div#content-wrap > div.product-review > form#review-form > .review_rating > input[type='submit'].object-button{
    width: 15rem;
    height: 3rem;
    font-size: 17px;
}

main.read-wrap > div > div#content-wrap > div.product-review > form#review-form > .review_rating > table .rating .rate_radio {
    position: relative;
    z-index: 20;
    opacity: 0.001;
    background-color: #fff;
    cursor: pointer;
    display: none;
}

main.read-wrap > div > div#content-wrap > div.product-review > form#review-form > .review_rating > table .rating .rate_radio + label {
    position: relative;
    display: inline-block;
    z-index: 10;
    cursor: pointer;
    color: #DCDDDE;
}

main.read-wrap > div > div#content-wrap > div.product-review > form#review-form > .review_rating > table .rating .rate_radio:checked + label {
    color: #F0CA4F;
}